.offline-version {
  font-weight: 600;
  font-size: 1rem;
}
.offline,
.online {
  list-style: none;
}
.offline li,
.online li {
  padding-left: 0.5rem;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.offline-icon {
  font-size: 0.6rem;
  color: #cf1322;
  margin-right: 0.5rem;
}
.online-icon {
  font-size: 0.6rem;
  color: #389e0d;
  margin-right: 0.5rem;
}
.pagination {
  position: relative;
  padding: 1.2rem;
  margin: 0;
  bottom: 0rem;
}

#monitor-header-title{
  margin: 3rem;
}

#uf {
  width: 30%;
}

.filtro {
  padding: 2rem;
}

.page-item.active a {
  background-color: #8561ff !important;
  border-color: #8561ff !important;
  z-index:3;
}

.page-link:hover {
  background-color: rgba(133, 97, 255, .3) !important;
}

.page-link {
  color: black !important;
}

.custom-hr {
  border: 1px solid #8561ff !important;
  background-color: #8561ff;
  width: 70%;
  margin-top: 0;
}

