@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #595959;
}
.navbar {
  height: 60px;
  background-color: #ffff !important;
}
.custom-toggler {
  font-size: 1.2rem !important;
}
.menu-button {
  border: none;
  padding-left: 2.4px;
}
.menu-button:focus {
  box-shadow: none;
}
.sidebar-nav {
  width: 120px;
  top: 60px;
  height: calc(100% - var(60px));
  background-color: #8561ff;
  padding: 0.5rem 0;
}
.sidebar-body {
  padding: 1rem 0;
}
.sidebar-link {
  color: #ffff !important;
  padding: 0.5rem 1rem !important;
}
.dropdown-monitor {
  background-color: #8561ff;
  margin: 0 !important;
  padding: 0 !important;
  border-left: none;
  border-right: none;
}
.dropdown-item {
  color: #ffff;
  padding: 0.5rem 1rem !important;
}
.dropdown-item:hover {
  color: #262626;
  background-color: #8561ff;
}
.sidebar-link:hover,
.active {
  background-color: #ffff;
  color: #8561ff !important;
}
.main-container {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  padding-top: 60px;
  background-color: #fafafa;
}
.content {
  padding: 1rem 2rem;
}
header {
  font-size: 1.7rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
/*
h2 {
  text-align: center;
  font-size: 1rem;
  text-decoration: underline;
  color: #262626;
  margin: 1.2rem;
}
*/
.offline-version {
  font-weight: 600;
  font-size: 1rem;
}
.offline,
.online {
  list-style: none;
}
.offline li,
.online li {
  padding-left: 0.5rem;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.offline-icon {
  font-size: 0.6rem;
  color: #cf1322;
  margin-right: 0.5rem;
}
.online-icon {
  font-size: 0.6rem;
  color: #389e0d;
  margin-right: 0.5rem;
}
.pagination {
  position: relative;
  padding: 1.2rem;
  margin: 0;
  bottom: 0rem;
}

#monitor-header-title{
  margin: 3rem;
}

#uf {
  width: 30%;
}

.filtro {
  padding: 2rem;
}

.page-item.active a {
  background-color: #8561ff !important;
  border-color: #8561ff !important;
  z-index:3;
}

.page-link:hover {
  background-color: rgba(133, 97, 255, .3) !important;
}

.page-link {
  color: black !important;
}

.custom-hr {
  border: 1px solid #8561ff !important;
  background-color: #8561ff;
  width: 70%;
  margin-top: 0;
}

